.radioInput {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.radioInput label {
  cursor: pointer;
}

.radioInput input {
  margin-right: 12px;
}

.radioInput.disabled {
  color: red;
}
